@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* root styles */
:root {
    --primary-color:#111A53;
    --secondary-color:#5AD9B9;
    --light-prime-color:#4354D0;
    --dark-text-color:#353A56;
    --grey-text-color:#747A9D;
    --white-text-color:#F8FAFF;
    --overlay-color:#111A5370;
    --text-light-color:#8D91C2;
    --box-shadow:#27343d5c;
}

/* global styles */
body {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
} 

.primary-color-text {
    color:var(--primary-color);
}

.secondary-color-text {
    color:var(--secondary-color);
}

.light-prime {
    color:var(--light-prime-color);
}

.dark-text-color {
    color:var(---dark-text-color);
}

.grey-text-color {
    color:var(--grey-text-color);
}

.white-text-color {
    color:var(--white-text-color);
}

.text-light-color {
    color:var(--text-light-color);
}

section {
    padding:8em 0;
}

.btn-primary {
    background-color:var(--light-prime-color);
    border-color:var(--light-prime-color);
    color:var(--white-text-color);
    padding:1em 2em;
    border-radius:90px;
    &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.solid {
    position:fixed;
    width:100%;
    box-shadow:1px 1px 10px var(--box-shadow);
    z-index:999;
    background-color:#FFF;
}

/* selection styles */

/* Header */
#main-header {
    .navbar {
        .navbar-brand {
            font-family: 'Poppins', sans-serif;
            font-weight:bold;
            color:var(--primary-color);
        }
        .nav-item {
            .nav-link {
                color:var(--text-light-color);
                font-weight:400;
                transition:color ease-in .3s;
                &:hover {
                    color:var(--secondary-color);
                }
            }
            &.active {
                .nav-link {
                    color:var(--secondary-color)
                }
            }
            .btn-success {
                background-color:var(--secondary-color);
                padding:.2em 2em;
                border-color :var(--secondary-color);
                border-radius:90px;
            }
        }
    }
    background:url(../img/sections/header.svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height:90vh;
    > .container {
        font-family:'Poppins', sans-serif;
        padding-top:10%;
        h1 {
            font-weight:100;
            font-size:3.7rem;
            line-height:1.4;
        }
        p {
            line-height:1.8;
        }
        .img {
            margin-left:50px;
            width:70%;
            height:100%;
            background-color:var(--white-text-color);
            padding:1em;
            position: relative;
            border-top-right-radius:99px;
            border-bottom-left-radius:99px;
            > img {
                position:absolute;
                left:-10px;
                z-index:1;
            }
            p {

                display:flex;
                color:var(--primary-color);
                background-color:#fff;
                z-index:2;
                justify-content: space-around;
                align-items:center;
                flex-wrap: wrap;
                padding:1em .5em;
                border-radius:15px;
                width:12em;
                left:-50px;
                bottom:70px;
                position: absolute;
                box-shadow:1px 1px 10px var(--box-shadow);
                img {
                    width:2em;
                }
            }
        }
    }
}

/* Site-Main */
#main-site {
    margin-top:2em;
    .numbers {
        .box {
            margin-bottom:2em;
        }
        p {
            font-weight:bold;
        }
    }

    /* About */
    .about {
        background-color:var(--white-text-color);
        background-image:url(../img/sections/section1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        .logo {
            width:80%;
            justify-self: center;
            align-self:center;
        }
        .h1 {
            line-height:2;
        }
        p {
            line-height:3;
            font-weight:bold;
        }
        .about-info {
            padding:2em;
            h2 {
                line-height:1.8;
            }
            li {
                position: relative;
                margin-bottom:5px;
                margin-left:25px;
            }
            li:before {
                content: '';
                position: absolute;
                width:20px;
                height:20px;
                background-color: var(--secondary-color);
                border-radius:50%;
                border:3px solid #FFF;
                left:-30px;
                top:2px;
            } 
        }
    }
    /* . About */

    /* Our-Projects */
    .our-projects{
        background:url(../img/sections/our-projects.svg);
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            > p {
                font-weight:bold;
                line-height:2;
            }
            .projects {
                margin-top: 3em;
                .box {
                    position:relative;
                    > .img  img {
                        width:100%;
                        max-height:300px;
                    }
                    .overlay {
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color:#FFF;
                        background-color:var(--overlay-color);
                        opacity:0.01;
                        transition:all ease-in .3s;
                        cursor: pointer;
                        img {
                            width:15%;
                        }
                        p {
                            font-weight:bold;
                        }
                    }
                    &:hover {
                        .overlay {
                            opacity:1;
                        }
                    }
                }
            }    
        }

    }
    /* .Our-Projects */

    /* Brands */
    .brands {
        background-color:var(--white-text-color);
        padding:5em;
        .wrapper {
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    /* .Brands */

    /* Why-us */
    .why-us {
        position: relative;
        background:url(../img/sections/section3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        .h1 {
            line-height:1.7;
            margin-bottom:1em;
        }
        p {
            line-height:2.5;
            font-weight:bold;
        }
        .row {
            img {
                border-radius:20px;
                &.long {
                    position: absolute;
                    max-height:200%;
                }
            }
        }

    }
    /* .Why-us */

    /* Skywalker */
    .skywalker {
        background-color:var(--white-text-color);
        padding:5em;
        h2 {
            line-height:1.8;
        }
        li {
            position: relative;
            margin-bottom:5px;
            margin-left:25px;
        }
        li:before {
            content: '';
            position: absolute;
            width:20px;
            height:20px;
            background-color: var(--secondary-color);
            border-radius:50%;
            border:3px solid #FFF;
            left:-30px;
            top:2px;
        } 
    }
    /* .Skywalker */

    /* Our-blog */
    .our-blog {
        background:url(../img/sections/blog.svg);
        background-repeat: no-repeat;
        background-size: cover;
        p {
            line-height:2;
        }
        .post {
            .img {
                position: relative;
                p {
                    position: absolute;
                    bottom:10px;
                    right:10px;
                    background-color:#FFF;
                    box-shadow:1px 1px 10px var(--box-shadow);
                    font-style: italic;
                    font-weight: bold;
                    font-size:14px;
                    padding:.5em 2em;
                    border-radius:10px;
                }
            }
            span {
                font-weight:bold;
                font-size:13px;
            }
            .btn {
                display:block;
                outline:none;
                padding:0;
                font-weight: bold;
            }
        }
    }
    /* .Our-blog */

    /* Contact-us */
    .contact-us {
        background:url(../img/sections/contact.svg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        p {
            line-height:2;
        }
        .img {
            position: relative;
            img {
                max-height:600px;
                width:90%;
            }
            .info {
                position: absolute;
                background-color:#FFF;
                padding:1.8em;
                font-weight:bold;
                border-radius:10px;
                box-shadow:1x 1px 10px var(--box-shadow);
                bottom:50px;
                right:-10px;
                p {
                    margin:0;
                }
            }
        }
        form {
            .form-control {
                border:0;
                border-bottom:2px solid #707070;
                border-radius: 0;
                resize:none;
                outline:none;
                box-shadow:none;
                &:focus {
                    border-color:var(--light-prime-color);
                }
                &::placeholder {
                    color:var(--dark-text-color);
                    font-weight:bold;
                }
            }
            .btn-success {
                background-color:var(--secondary-color);
                padding:1em 3em;
                border-color :var(--secondary-color);
                color:var(--primary-color);
                font-weight:bold;
                border-radius:10px;
            }
        }
    }
    /* .Contact-us */
}
/* .main-site */

/* footer */
#footer {
    background-color:var(--primary-color);
    color:#FFF;
    .col-lg-4 {
        padding:5em 0; 
        display:flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-self: center;
        &#backToTop {
            * {
                margin-left:10px;
            }
            cursor: pointer;
        }
    }
}
/* .footer */

/* media-query */
@media (max-width:544px) {
    #main-header {
       > .container {
            text-align:center;
            padding-top:25%;
            h1 {
                font-size: 3em;
            }
        }
    }
    #main-site {
        .why-us {
            .row {
                text-align: center;
            }
        }
    }
}